<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title FrontendApp
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="stylesheet", href="components/normalize.css")
  body
    header
      h1 Frontend Website
    .main-container
      p(id='main-msg') from here you can start building your static website.
    script(src="components/jquery.min.js")
    script(src="js/main.min.js")
