@import 'modules/header';

$plate: #027db3;
$titles: #fff;
$text: #fff;


body {
	background-color: $plate;
	font-family: Helvetica, sans-serif;
	line-height: 1.5;
	color: $text;
}

h1 {
	color: #0fecd1;
	font-style: italic;
}
